<div class="card" *ngFor="let currentRecipe of childRecipeList" style="width: 300px; height: 400px;">
  <h2>{{currentRecipe.title}}</h2>
  <button (click)="editButtonClicked(currentRecipe)" [class]="ratingColor(currentRecipe)">Edit</button>
  <hr [class]="ratingColor(currentRecipe)">
  <h4>Ingredients</h4>
  <ul>
    <li *ngFor="let ingredient of currentRecipe.ingredients">{{ingredient}}</li>
  </ul>
  <h4>Directions</h4>
  <ol>
    <li *ngFor="let direction of currentRecipe.directions">{{direction}}</li>
  </ol>
</div>
