/* You can add global styles to this file, and also import other style files */
.stack{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.recipe {
  min-width: 20%;
  padding: 20px;
  margin: 5px;

  box-shadow: 0.4em 0.4em 1em -0.2em;
}

hr {
  border-width: 3px;
}
